/* main */

#everything {
    margin: 0 auto;
    padding: 0 0 24px 0;
    width: 100%;
}

#divheader {
    background-color: black;
}

#headerlogo {
    float: left;
}

#headernav {
    float: right;
}

body {
    margin: 0;
}

.row, .col {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.header.row {
    height: 35px;
    top: 0;
    background-color: darkslategrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: white;
    vertical-align: bottom;
    padding-left: 5px;
    padding-top: 0px;
}

.body.row {
    top: 35px;
    bottom: 18px;
}

.footer.row {
    height: 18px;
    bottom: 0;
    background-color: darkslategrey;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 2px;
}

.imgLeyend {
    width: 250px;
    height: auto;
}

.leyendBox {
    width: 250px;
    height: auto;
    position: fixed;
    bottom: 18px;
    right: 5px;
    z-index: 10000;
}

.headerTable{
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 0;
}

.headernav.row {
    font-size:smaller;
    text-align: right;
}

.headerNav a{
    font-size: 14px;
    text-decoration: none;
}

.headerNav a:link{
    color: white;
}

.headerNav a:hover{
    color: #999999;
}

.headerNav a:visited{
    color: white;
    text-decoration: none;
}

